<h2>新着トピック</h2>
<div>
    <ul class="list-group justify-content-center">
        <% @posts.each do |post| %>
        <!-- urlはrails routesで見たときのprefix+'_path'を書く(ちなみにpost.idはpostでもよい) -->
        <li class="list-group-item clearfix">
            <%= link_to "#{post.updated_at.in_time_zone('Tokyo').strftime('%Y/%m/%d %H:%M')} #{post.title}",post_path(post.id) %>
            <%= link_to '[編集]',edit_post_path(post.id), class: 'float-right' %>
        </li>
        <% end %>
    </ul>
    <%= paginate @posts %>
</div>
<div class="border-white rounded bg-light p-2">
    <%= render "new" %>
</div>