/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // 分け方
 // 全部に対するもの
/* 共通 */
@import "bootstrap";
$mainWidth: 100%;
$fennel-light: #F7F6EB;
$fennel-regular: #7F9655;
$fennel-dark: #485B30;
.container {
    width: $mainWidth;
    margin: 1.2rem auto;
    padding: 0 3rem 0.6rem 3rem;
}
@include media-breakpoint-down(sm) {
    .container {
        width: 100%;
        padding: 0.5rem;
    }

  }
@include media-breakpoint-up(sm) {
    .login-wrapper {
        width: 480px;
        padding: 0.5rem;
    }
}
body {
    font-family: Verdana,sans-serif;
    // font-size: 14px;
    background: #F2F3F7;
}
h2 {
    font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "meiryo";
    border-bottom: solid 1px #aaa;
    border-radius: 1px;
    text-shadow: 1px 1px 3px #aaa;
    font-size: 1.5rem;
    vertical-align: middle;
    padding-top: 4px;
    padding-bottom: 4px;

}
h3{
    margin-top: 1rem;
    font-size: 1.4rem;
    color: rgb(0, 128, 0);
}
.logo {
    width: $mainWidth;
    height: 120px;
    background: url("../images/logo.png");
    margin-bottom: 12px;
}
/* textarea */
#post_body {
    height: 10rem;
}
/* show */
.article {
    background: rgb(239, 239, 239);
    border:solid 1px #ddd;
    padding: 0.5rem;
    p {
        vertical-align: bottom;
        margin: 2px;
    }
    .author {
        color: rgb(0, 128, 0);
    }
   .date {
        float:right;
        color: #000;
        font-size: 0.8em;
    }
}
.text-green {
    color: rgb(0, 128, 0);
}

// login
.login-wrapper {
    padding: 1.5rem;
    color: $fennel-light;
    background: $fennel-regular;
}
.btn-login {
    color: $fennel-regular;
    background: $fennel-light;
    opacity: 0.8;
}

// bgcolor, btncolor
.btn-login:hover {
    opacity: 0.6;
}
.bg-fennel-light {
    background: $fennel-light;
}
.bg-fennel-regular {
    opacity: 0.8;
    color: $fennel-light;
    background: $fennel-regular;
}

.bg-fennel-dark {
    color: $fennel-light;
    background: $fennel-dark;
}
.btn-fennel-light {
    background: $fennel-light;
    &:hover {
        opacity: 0.8;
    }
}
.btn-fennel-regular {
    color: $fennel-light;
    background: $fennel-regular;
    &:hover {
        opacity: 0.8;
    }
}
.btn-fennel-dark {
    color: $fennel-light;
    background: $fennel-dark;
    &:hover {
        opacity: 0.8;
    }
}

// over rided
.btn-warning {
    color: $fennel-light;
    background: rgba(172, 127, 28, 0.633);
}
