/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // 分け方
 // 全部に対するもの
/* 共通 */
$mainWidth: 440px;
.container {
    width: $mainWidth;
    margin: 20px auto;
    padding: 0 40px 10px 40px;
}
body {
    font-family: Verdana,sans-serif;
    font-size: 14px;
    background: #F2F3F7;
}
h2{
    font-size: 16px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
}
ul > li {
    margin-bottom: 5px;
    list-style: none;
}
.logo {
    width: $mainWidth;
    height: 120px;
    background: url("../images/logo.png");
    margin-bottom: 12px;
}

textarea,
input[type="text"],
input[type="password"] {
    box-sizing: border-box;
    width: $mainWidth;
    padding: 5px;
}

textarea{
    height:160px;
}

.error{
    font-size: 12px;
    font-weight: bold;
    color: tomato;
}

/* btn */
.btn {
    font-family: 'Wawati SC',sans-serif;
    text-shadow: 1px 1px 1px #000;
    cursor: pointer;
    float:left;
    width: 100%;
    border-radius: 5px;
}
.submit {
    @extend .btn;
    font-size: 50px;
    margin-bottom: 10px;
    height:100px;
    color: #eee;
    background:#67BC6E;
}
.delete {
    @extend .btn;
    font-size: 20px;
    height:30px;
    background: #8A4954;
    color:white;
}
.command {
    font-size: 12px;
    float:right;
}
/* show */
.article {
    background: rgb(239, 239, 239);
    border:solid 1px #ddd;
    padding: 8px;
    p {
        margin: 2px;
    }
    p:nth-of-type(3){
        margin: 16px 10px 16px 10px;
    }
    p:nth-of-type(5){
        text-align: right;
    }
    .author {
        color: rgb(0, 128, 0);
    }
    .author > span{
        float:right;
        color: #000;
    }
}
.comment_body {
    height:72px;
}
